<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>

    <div class="direccion-empresa">
        <p class=" weight size-md">
            Alianza Familiar SAPI de C.V. SOFOM E.N.R. <br> 
            
            Calle Villa Nicolas Romero 12, Conjunto de San Miguel, C.P. 53010, 
            Naucalpan de Juárez, Estado de México. <br>

            Teléfonos: 5914 8503 / 5914 8504 ext. 105 Correo electrónico: 
            alianza.comercial@alianzafamiliar.mx

        </p>
    </div>
</body>
</html>